/* Coolors Exported Palette - coolors.co/a0eec0-fcefef-57886c-3c3744-221d23 */

/* RGB */
$primary-color: rgba(160, 238, 192, 1);
$primary-color-dark: rgba(87, 136, 108, 1);

$secondary-color: #DBCDC6;
$background-color: rgba(252, 239, 239, 1);

$highlight-dark: rgba(60, 55, 68, 1);

$list-item-hover: $highlight-dark;

$danger: red;
