// OSG updated: 17.02.20
$blue: #6fe9ff;
$blue-light: #b3f5ff;
$blue-hover: #1f42aa;

$purple-visited: #8d50b1;
$purple-visited-light: #e0adff;

$green: #43f8b6;
$green-dark: #034b45;
$green-light: #4e807c;

$beige: #f8f0dd;
$beige-dark: #d0bfae;

$yellow: #f9c66b;

$red: #ff8274;

$grey: #f2f2f2;

$grey-light: #b3f5ff;

$black: #2c2c2c;
