name: Publish package
on:
  push:
    branches:
      - master
    paths:
      - '**.js'
      - '**.scss'
      - '**.css'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 # Fetch code
    - run: npm install
    - run: npm run build

  publish:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1 # Add .npmrc for scoped package
      with:
        node-version: '12.x'
        registry-url: 'https://npm.pkg.github.com'
        scope: '@tuuturu' # Defaults to the user or organization that owns the workflow file
    - run: make publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Notify Vue
      uses: peter-evans/repository-dispatch@v1.0.0
      with:
        # A repo scoped GitHub Personal Access Token
        token: ${{ secrets.VUE_NOTIFIER }}
        # The full name of the repository to send the dispatch. Defaults to the current repository.
        repository: tuuturu/vue
        # A custom webhook event name.
        event-type: build_application

  bump:
    - uses: actions/checkout@v1 # Fetch code
      with:
        ref: ${{ github.ref }}
    - name: "Automated Version Bump"
      uses: "phips28/gh-action-bump-version@master"
      with:
        tag-prefix: ''
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
